@page "/Games"

<div style="background: #ffffff;
            width: 1000px;
            margin: 0 auto">
    <h1 style="padding-top: 150px;
               padding-bottom: 50px;
               text-align: center">
        Games
    </h1>
</div>

<div style="display: flex;
            justify-content: center">
    
    <div style="padding-right: 50px">
        <NavLink href="/BattleshipsSetup">
            Battleships
        </NavLink>
    </div>
    
    <div>
        <NavLink href="/Connect4">
            Connect 4
        </NavLink>  
    </div>
    
</div>

@code {
    
}