@page "/MessageBoard"

<div style="background: #ffffff;
            width: 1000px;
            margin: 0 auto">
    <h1 style="padding-top: 150px;
               padding-bottom: 50px;
               text-align: center">
        MessageBoard
    </h1>
</div>

@code {
    
}