<div style="background: url('/Assets/PageAssets/LoopSquare.png') repeat fixed;
            width: 100%">
    <img style=" position: relative;
             width: 1000px;
             top: -90px"
         alt="" src="/Assets/PageAssets/PageBorderR.png"/>
    <div>
        <h1 style="color: white;
                   padding-left: 150px;
                   padding-bottom: 50px"
            data-aos="zoom-out-down"
            data-aos-delay="10">
            About
        </h1>
        <div style="color: white;
                    text-align: center;
                    padding-bottom: 200px">
            <h5>
                Welcome to BLJ!
            </h5>
            <div>
                <br/>
                A webpage where you can play boardgames and board-adjacent games against random people online. <br/>
                <br/>
                Ask, answer or discuss about game related topics on the message boards. <br/>
                <br/>
                Compete for score on the leaderboards or chill in the group chatroom.
            </div>
        </div>
    </div>
</div>

@code {
    
}