<div>
    <img style=" position: relative;
             width: 1000px;
             top: -80px"
         alt="" src="/Assets/PageAssets/PageBorderW.png"/>
    <div style="padding-top: 100px;
            padding-bottom: 50px;
            text-align: center">
        <div style="display: flex;
                    justify-content: center">
            <h3 style="font-weight: bolder;
                       color: #212178">B</h3>
            <h3 style="font-weight: bolder;
                       color: #800000">L</h3>
            <h3 style="font-weight: bolder;
                       color: #165016">J</h3>
        </div>
        <h5>was developed by</h5>
        <div style="display: flex;
                    justify-content: center;
                    padding-top: 50px">
            <div style="color: #800000;
                        font-size: smaller;
                        text-align: center;
                        width: 320px">
                Queen of Connections <br/>
                <a style="color: #000000;
                           text-decoration: none;
                           font-size: x-large"
                    href="https://github.com/Ariyelz"
                    rel="noopener noreferrer"
                    target="_blank">
                    Line Bratli Veddegjerde
                    <img  alt="" src="/Assets/PageAssets/StampL.png"
                          class="stamp" style="margin-left: -50px;"/>
                </a>
            </div>
            <div style="border-left: 2px solid black;
                        height: auto"></div>
            <div style="color: #165016;
                        font-size: smaller;
                        text-align: center;
                        width: 320px">
                Dominator of Data <br/>
                <a style="color: #000000;
                           text-decoration: none;
                          font-size: x-large"
                    href="https://github.com/JonasHellum"
                    rel="noopener noreferrer"
                    target="_blank">
                    Jonas Lærke Hellum
                    <img  alt="" src="/Assets/PageAssets/StampJ.png"
                          class="stamp" style="margin-left: -25px;"/>
                </a>
            </div>
            <div style="border-left: 2px solid black;
                        height: auto"></div>
            <div style="color: #212178;
                        font-size: smaller;
                        text-align: center;
                        width: 320px">
                Weaver of Web-design <br/>
                <a style="color: #000000;
                          text-decoration: none;
                          font-size: x-large"
                   href="https://github.com/BrianHenriksen"
                   rel="noopener noreferrer"
                   target="_blank">
                    Brian Henriksen
                    <img  alt="" src="/Assets/PageAssets/StampB.png"
                          class="stamp" style="margin-left: -20px;"/>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .stamp {
        position: absolute;
        opacity: 0.2;
        width: 80px;
        margin-top: -35px;
        transform: rotate(20deg);
    }
</style>

@code {
    
}