@page "/"

<div class="front-page"
     style="background: white;
            justify-content: center;
            padding-top: 250px;
            padding-bottom: 150px">
    <Logo/>
</div>

<div class="front-page"
     style="background: #800000">
    <About/>
</div>

<div class="front-page"
     style="background: #165016">
    <News/>
</div>

<div class="front-page"
     style="background: #212178">
    <Recommended/>
</div>

<div class="front-page"
     style="background: #ffffff;
            justify-content: center">
    <Credit/>
</div>

<style>
    .front-page {
        width: 1000px;
        margin: 0 auto;
        display: flex;
    }
</style>