@page "/"

<div style="background: white;
            width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            padding-top: 250px;
            padding-bottom: 150px">
    <Logo/>
</div>

<div style="background: #800000;
            width: 1000px;
            margin: 0 auto;
            display: flex;">
    <About/>
</div>

<div style="background: #165016;
            width: 1000px;
            margin: 0 auto;
            display: flex;">
    <News/>
</div>

<div style="background: #212178;
            width: 1000px;
            margin: 0 auto;
            display: flex;">
    <Recommended/>
</div>

<div style="background: #ffffff;
            width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: center">
    <Credit/>
</div>