@page "/"

<div class="page-element"
     style="background: white;
            justify-content: center;
            padding-top: 200px;
            padding-bottom: 140px">
    <Logo/>
</div>

<div class="page-element"
     style="background: #800000">
    <About/>
</div>

<div class="page-element"
     style="background: #165016">
    <News/>
</div>

<div class="page-element"
     style="background: #212178">
    <Recommended/>
</div>

<div class="page-element"
     style="background: #ffffff;
            justify-content: center;
            z-index: 500">
    <Credit/>
</div>

<style>
    .page-element {
        width: 1000px;
        margin: 0 auto;
        display: flex;
    }
</style>