<div style="background: url('/Assets/PageAssets/LoopTriangle.png') repeat fixed;
            width: 100%">
    <img style=" position: relative;
             width: 1000px;
             top: -45px"
         alt="" src="/Assets/PageAssets/PageBorderG.png"/>
    <div>
        <h1 style="color: white;
                   text-align: right;
                   padding-right: 150px;
                   padding-bottom: 50px"
            data-aos="zoom-out-down">
            News
        </h1>
        <div style="color: white; padding-left: 225px; padding-bottom: 200px">
            As mentioned on the about section, the Message Board is up an running!<br/>
            But we are still ironing out some kinks here and there.<br/>
            <br/>
            Currently all threads and comments are anonymous<br/>
            and the Message Board itself will reset upon server restart<br/>
            Keep this in mind while we patch that out!
            <img  alt="" src="/Assets/PageAssets/IconMO.png"
                  style="width: 100px;
                         filter: brightness(0) invert(1);
                         transform: translateX(150px)"/>
        </div>
    </div>
</div>

@code {
    
}