<div style="background: url('/Assets/PageAssets/LoopCircle.png') repeat fixed;
                width: 100%">
    <img style=" position: relative;
             width: 1000px;
             top: -45px"
         alt="" src="/Assets/PageAssets/PageBorderB.png"/>
    <div>
        <h1 style="color: white;
                   padding-left: 150px;
                   padding-top: 50px;
                   padding-bottom: 50px"
            data-aos="zoom-out-down">
            Recommended
        </h1>
        <div style="color: white;
                    text-align: center;
                    padding-bottom: 250px">
            <div>
                Here we'll recommend our latest game... eventually.
            </div>
        </div>
    </div>
</div>

@code {
    
}