<div style="background: url('/Assets/PageAssets/LoopCircle.png') repeat fixed;
                width: 100%">
    <img style=" position: relative;
             width: 1000px;
             top: -45px"
         alt="" src="/Assets/PageAssets/PageBorderB.png"/>
    <div>
        <h1 style="color: white;
                   padding-left: 150px;
                   padding-top: 50px;
                   padding-bottom: 50px"
            data-aos="zoom-out-down">
            Recommended
        </h1>
        <div style="color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    padding-bottom: 250px">
            <div style="border: 10px solid #212178">
                <img  alt="" src="/Assets/ArticleAssets/RecommendBattleship.png"
                      style="width: 200px"/>
            </div>
            <div style="padding-left: 30px">
                We recommend, <b style="text-decoration: line-through; font-weight: normal">our greatest struggle</b>
                the age old classic: BattleShips!<br/>
                This timeless two-player strategy game is all about stealth, logic, and a bit of luck.<br/>
                Secure victory in this naval warfare by destroying your opponent’s fleet<br/>
                before they sink yours!<br/>
                <br/>
                Check it out on the <NavLink class="style-link" href="/Games">Game page</NavLink>!
            </div>
        </div>
    </div>
</div>

<style>
    .style-link {
        text-decoration: none;
        color: white;
    }
    
    .style-link:hover {
        text-decoration: underline;
        color: white;
    }
</style>

@code {
    
}