<div style="padding-top: 100px ;
            background: url('/Assets/PageAssets/LoopC.png') repeat fixed;
            width: 100%">
    <h1 style="color: white; padding-left: 150px; padding-bottom: 50px">Recommended</h1>
    <div style="color: white; text-align: center; padding-bottom: 200px">
        Here we'll recommend our latest game... eventually.
    </div>
</div>

<img style=" position: absolute;
             justify-content: end;
             width: 1000px;
             padding-top: 350px"
     alt="" src="/Assets/PageAssets/PageBorderW.png"/>

@code {
    
}