<div>
    <div>
        <NavLink class="nav-link" href="chat">Chat</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="logintest">Logintest</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="cry">SoHelpMeGod</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="AuthenticationTestin">AuthenticationTestin</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="updatingtestin">updatingtestin</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="User">User page</NavLink>
    </div>
  
    <div>
        <NavLink class="nav-link" href="registertestin">registertestin</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="logouttestin">logouttestin</NavLink>
    </div>
    
    <div>
        <NavLink class="nav-link" href="UpdatingOrAddingTest">UpdatingOrAddingTest</NavLink>
    </div>
    
    <div>
        <NavLink class="nav-link" href="LeaderboardStatsAndStuffTest">LeaderboardStatsAndStuffTest</NavLink>
    </div>
    <div>
        <NavLink class="nav-link" href="LoginTestAgain">LoginTestAgain</NavLink>
    </div>
    
</div>

@code {
    
}