@page "/Tests"

<div style="background: #ffffff;
            width: 1000px;
            margin: 0 auto;
            padding-bottom: 25px">
    <h3 style="padding-top: 125px;
               padding-left: 15px">
        Tests
    </h3>

    <div>
        <NavLink class="nav-link" href="chat">Chat</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="logintest">Logintest</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="Battleshit">SoHelpMeGod</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="AuthenticationTestin">AuthenticationTestin</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="updatingtestin">updatingtestin</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="registertestin">registertestin</NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="logouttestin">logouttestin</NavLink>
    </div>

</div>

@code {
    
}