@page "/Chat"
@using Emne9_Prosjekt.Components.Pages.FrontPage

<div data-aos="zoom"></div>

<div style="background: #ffffff;
            justify-content: center;
            padding-top: 200px;
            padding-bottom: 150px;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-family: Bahnschrift,serif;
            font-weight: bolder;"
     class="page-element">
    <h1 data-aos="zoom-out-up"
        data-aos-duration="500"
        data-aos-delay="300">
        Welcome to the Group Chat
    </h1>
    <h5 data-aos="zoom-out-up"
        data-aos-duration="500"
        data-aos-delay="600">
        Please remember to be respectful of your fellow companions!
    </h5>
</div>

<div style="background: #008b8b"
     class="page-element">
    <GroupChatFunction/>
</div>

<div style="background: #ffffff"
     class="page-element">
    <Credit/>
</div>

<style>
    .page-element {
        width: 1000px;
        margin: 0 auto;
        display: flex;
    }
</style>

@code {

}