<div style="background: url('/Assets/PageAssets/LoopStripe.png') repeat fixed;
            width: 100%">
    <img style=" position: relative;
             width: 1000px;
             top: -35px"
         alt="" src="/Assets/PageAssets/PageBorderC.png"/>
    <div>
        <h1 style="color: white;
                   text-align: center;
                   padding-top: 100px;
                   padding-bottom: 250px">
            Chat goes here.
        </h1>
    </div>
</div>

@code {
    
}