<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Emne9_Prosjekt.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet @rendermode="@InteractiveServer"/>
</head>

<body>
<Routes @rendermode="@InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<script src="https://accounts.google.com/gsi/client"></script>
<script>
    function initGoogleSignIn(clientId, dotNetHelper) {
        google.accounts.id.initialize({
            client_id: clientId,
            callback: (response) => {
                dotNetHelper.invokeMethodAsync('HandleGoogleSignIn', response.credential);
            },
            redirect_uri: window.location.origin + '/login'
        });
        google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "outline", size: "large" }  // customization attributes
        );
        google.accounts.id.prompt(); // also display the One Tap sign-in prompt
    }
</script>
</body>

</html>