@inherits LayoutComponentBase

<div style="position: fixed; width: 100%; z-index: 1000">
    <NavMenu/>
</div>

<body style="background: linear-gradient(#ffd5d5, #e5ffd5, #d7d7f4) fixed;"/>

<main>
    <article class="content px-4">
        @Body
    </article>
</main>

<style>
    
</style>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>