@using Microsoft.IdentityModel.Tokens
@inject HttpClient Http

<div style="display: flex;
            gap: 235px;
            justify-content: center;
            background: linear-gradient(#404040,
                                        #323232,
                                        #292929,
                                        #252525,
                                        #1b1b1b,
                                        #1b1b1b,
                                        #1b1b1b,
                                        #1b1b1b,
                                        #252525)">
    <div style="text-align: left;
                padding-top: 10px;
                padding-bottom: 10px">
        <NavLink href="">
            <img style="width: 120px"
                 alt=""
                 src="@_icon"
                 @onmouseover="MouseOn"
                 @onmouseout="MouseOff"/>
        </NavLink>
    </div>
    <div style="color: white;
                text-align: center;
                font-style: oblique;
                padding-top: 13px">
        Published by Nubisoft™
    </div>
    @if (_userName.IsNullOrEmpty())
    {
        <div style="color: white;
                text-align: right;
                padding-top: 13px">
            <NavLink href="/Login"
                     class="user-links">
                Login
            </NavLink> / 
            <NavLink href="/Register"
                     class="user-links">
                Register
            </NavLink>
        </div>
    }
    else
    {
        <div>
            Welcome @_userName
        </div>
    }
    
</div>
<div style="display: flex;
            justify-content: center;
            padding-top: 10px;
            padding-bottom: 10px;
            background: #000000">
    <div>
        <NavLink href="Games"
                 class="page-links">
            All Games
        </NavLink>
    </div>
    <div style="border-left: 1px solid white;
                        height: auto"></div>
    <div>
        <NavLink href="Leaderboards"
                 class="page-links">
            Leaderboards
        </NavLink>
    </div>
    <div style="border-left: 1px solid white;
                        height: auto"></div>
    <div>
        <NavLink href="Chat"
                 class="page-links">
            Big Chat
        </NavLink>
    </div>
    <div style="border-left: 1px solid white;
                        height: auto"></div>
    <div>
        <NavLink href="MessageBoard"
                 class="page-links">
            Message Board
        </NavLink>
    </div>
    <div style="border-left: 1px solid white;
                        height: auto"></div>
    <div>
        <NavLink href="Tests"
                 class="page-links">
             Prototypes
        </NavLink>
    </div>
</div>

<style>
    .user-links {
        color: white;
        text-decoration: none;
    }
    .user-links:hover {
        color: white;
        text-shadow: 0 0 10px white;
    }
    .page-links {
        color: white;
        text-decoration: none;
        padding-right: 50px;
        padding-left: 50px;
    }
    .page-links:hover {
        color: white;
    }
</style>

@code
{
    private string _icon = "/Assets/logo/BWLogo.png";
    private string? _userName;
    
    protected override async Task OnInitializedAsync()
    {

        try
        {
            _userName = await Http.GetStringAsync("http://localhost:80/api/members/Username-info");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        
    }
    private void MouseOn()
    {
        _icon = "/Assets/logo/ColorLogo.png";
    }

    private void MouseOff()
    {
        _icon = "/Assets/logo/BWLogo.png";
    }
}
